<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/scss}" />


    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:insert="navbar.html :: navbar">
    </header>

    <div class="container center_div mt-5">
        <h2>Registracija</h2>

        <form th:action="@{/register-user}" method="post" th:object="${user}" class="needs-validation"   enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username"   placeholder="Unesite username:" th:field="*{username}" required>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>


            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email"   placeholder="Unesite email:" th:field="*{email}" required>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password"  class="form-control" id="password" placeholder="Unesite password" th:field="*{password}" required>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>




</body>
</html>